form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #f5ba13;
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input, textarea, button {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #f5ba13;
    outline: none;
  }
  
  button {
    background-color: #f5ba13;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #333;
  }
  